img {
  pointer-events: none; 
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}
/* http://creatornote.nakweb.com/%E3%82%A6%E3%82%A7%E3%83%96%E3%82%B5%E3%82%A4%E3%83%88%E3%81%A7%E7%94%BB%E5%83%8F%E3%81%AE%E4%BF%9D%E5%AD%98%E3%82%92%E7%A6%81%E6%AD%A2%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95/ */

.pc-width , .tb-width , .sm-width{
  text-align: center;
}
.pc-width img{
  width: 100%;
}
.tb-width img{
  width: 70%;
}
.sm-width img{
  width: 50%;
}